@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 0;
  font: $base-text-size / 1 $base-font-family;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ol li {
    margin: 10px;
    font-size: 1.2em;
  }
}

.todo-input {
  padding: 2px;
  min-width: 250px;
  min-height: 25px;
  font-size: 1.2em;
  margin: 10px;
}

.save-button {
  font-size: 1.2em;
}

.todo-content {
  width: 50%;
}

@media (max-width: 700px) {
  .todo-content {
    width: 95%;
  }
}
